.searchProfile {
    display: block;
    margin: 0 auto;
    width: 80%;
    padding: 2em;
}

.searchForm {
    padding: 1em;
    border: dotted 1px lightgray;
    font-family: monospace;
}

.searchForm input {
    border: solid 1px gray;
    margin-left: 1em;
    width: 80%;
    background: lavenderblush;
    text-align: left;
    padding: 0.5em 1em;
}

.usersList {
    margin-top: 1em;
    background: whitesmoke;
}

.userItem {
    text-align: center;
    padding: 1em;
    border: solid 1px lightgray;
    margin-top: 1em;
    margin-bottom: 1em;
    display: inline-grid;
    width: 100px;
    margin: 10px;
    background: white;
}

.userItem img {
    border: dotted 2px lightgray;
    padding: 2px;
}

.userItem a {
    margin-top: 0.3em;
    margin-right: 30%;
    color: cornflowerblue;
    display: inline-block;
    text-decoration: none;
}